:root {
	/* Font weight */
	--thin: 100;
	--extra-light: 200;
	--light: 300;
	--normal: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;

	/* Font family */
	--application-ui-font: "Poppins", sans-serif;

	/* Font Size */
	--text-12x: 12px;
	--text-14x: 14px;
	--text-16x: 16px;
	--text-18x: 18px;
	--text-20x: 20px;
	--text-24x: 24px;
	--text-30x: 30px;
	--text-36x: 36px;
	--text-48x: 48px;
	--text-60x: 60px;
	--text-72x: 72px;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--bold);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
	cursor: not-allowed;
}

::-ms-reveal {
	display: none;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol li::marker {
	font-weight: bold;
}

pre,
code,
kbd,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

img,
video {
	height: auto;
	max-width: 100%;
}

textarea {
	resize: vertical;
}

button {
	cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
	outline: none;
	border-radius: 5px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}
